body{
  margin: 0;
  padding: 0;
}
.slant{
  position: absolute;
  width: 90%;
  height: 100%;
  background: linear-gradient(220deg, #1366ff, #ff0b6d);
  box-sizing: border-box;
  padding: 30px;
}
.slant:after{
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: inherit;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: skewX(10deg);
}
.loginbox{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50%;
  box-sizing: border-box;
  background: transparent;
  box-shadow: 0 10px 20px rgba(0,0,0,.5);
  border-radius: 5px;
  transition: .5s;
}
.loginbox:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,0);
  background: rgba(255,255,255, 1);
}
.glass{
  width: 100%;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
  background: rgba(255,255,255,.1);
  border-radius: 5px;
  transition: .5s;
}
.user{
  margin: 0 auto;
  margin-top: -100px;
  display: block;
  margin-bottom: 20px;
}
h1{
  font-family: 'ar bonnie';
  margin: 0;
  margin-bottom: 20px;
  padding: 0 0 20px;
  color:#262626;
  text-align: center;
  font-size: 60px;
}
.loginbox input{
  width: 100%;
  margin-bottom: 20px;
}
.loginbox input[type="text"]{
  border: none;
  border-bottom: 2px solid #262626;
  outline: none;
  height: 40px;
  color: #262626;
  background: transparent;
  font-size: 16px;
  padding-left: 20px;
  box-sizing: border-box;
}
.loginbox .inputbox input[type="password"]{
  border: none;
  border-bottom: 2px solid #262626;
  outline: none;
  height: 40px;
  color: #262626;
  background: transparent;
  font-size: 16px;
  padding-left: 20px;
  box-sizing: border-box;
}
::placeholder{
  font-family: sans-serif;
  color: rgba(0,0,0,.5);
}
.inputbox{
  position: relative;
}
.inputbox span{
  position: absolute;
  top: 10px;
  color: #262626;
}
.loginbox input[type="submit"]{
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 10px;
  margin-bottom: -5px;
  border: none;
  outline: none;
  height: 40px;
  width: 30%;
  font-size: 35px;
  background: #ed292a;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'ar bonnie';
}
.lout{
  position: absolute;
  top: 5px;
  right: 15px;
  transform: none;
}
.lout a{
  width: 100%;
  font-family: 'ar bonnie';
  font-size: 40px;
  text-decoration: none;
  color: #000;
}
.lout a:before{
  content: '';
  width: 0px;
  height: 3px;
  background: #ff0b6d;
  position: absolute;
  top: 90%;
  left: 0;
  transition: .5s;
}
.lout a:hover:before{
  width: 50%;
  transform: translateX(100%);
}
.reg{
  margin-top: 20px;
}
